      /* Reglas de CSS para Maquetar una Pagina Basica con Estructura HTML5 y CSS*/
/*Creado por Ing. Juancito Peña*/
/* Primera Regla Marenes 0 a todo el Body y su contenido, iniciamos en cero todo*/

* {
    margin: 0;
    padding: 0;
}

/* Segunda Regla para el Body */

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}



/* Tercera Regla para el Contenedor de mi Pagina Web */

.container {
    width: 70%;
    height: 100%;
    margin: 0px auto;
    border-radius: 5px;
    border: 1px solid #009432;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Cuarta Regla para el Encabezado o Header */

header{
    color: white;
    text-align: center;
    background-color:red;
    width:100%;
    height:100%;
    text-align: center;
    line-height:100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Quinta  Regla para la Navegacion o Menu o Nav */

 nav{
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    background-color:rgb(249, 164, 7);
} 


  /* Septa Regla para el estiolo del Contenido */

 #contenido{
    width:70%;
    height:100%;
    background-color: blue;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

  /* Septima Regla para el estiolo de texto del Contenido */

#contenido h2{
    font-size: 30px;
    text-align: center;
    line-height: 300px;
    color: white;
}

p{
  font-size: 15px;
  text-align: justify;
  line-height: 15px;
  color:white;

}
.uno{
  background-color: rgb(233, 83, 23);
  margin: 10px;
}

.dos{
  background-color: rgb(167, 166, 239);
  margin: 10px;
}
  /* Sectima Regla para el estiolo para el aside */

aside{
    width:29%;
    height:630px;
    background-color: green;
    float: right;
    margin-top: 10px;

}
aside h2{
    font-size: 20px;
    text-align: center;
    line-height: 400px;
    color: white;
}

.clearfix{
    clear: both;
}

  /* Sectima Regla para el estiolo  del footer */

footer{
    background-color: #f30404;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

  /* Media Query para dispositivos móviles */
@media screen and (min-width:320px)  and (max-width:720px) {
  .container {
    width: 95%;
    height: 100%;
    margin: 0px auto;
    border-radius: 5px;
    border: 1px solid #009432;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;

  }
   
header{
  color: white;
  text-align: center;
  background-color:red;
  width:100%;
  height:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: center;
  line-height: 100px;
}
/* Quinta  Regla para la Navegacion o Menu o Nav */

nav{
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  background-color:rgb(249, 164, 7);
} 

#contenido{
  width:100%;
  height:100%;
  background-color: blue;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

/* Septima Regla para el estiolo de texto del Contenido */

#contenido h2{
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  color: white;
}
.uno{
background-color: rgb(233, 83, 23);
margin: 10px;
}

.dos{
background-color: rgb(167, 166, 239);
margin: 10px;
}
/* Sectima Regla para el estiolo para el aside */

aside{
  width:100%;
  height:630px;
  background-color: green;
  float: right;
  margin-top: 10px;

}
aside h2{
  font-size: 20px;
  text-align: center;
  line-height: 400px;
  color: white;
}
}
  


  /* Media Query para dispositivos móviles */
  @media screen and (max-width:1024px) {
    .container {
      width: 95%;
      height: 100%;
      margin: 0px auto;
      border-radius: 5px;
      border: 1px solid #009432;
      padding-left: 5px;
      padding-right: 5px;
      background-color: #ffffff;
      margin-top: 10px;
      margin-bottom: 10px;
  

/* Quinta  Regla para la Navegacion o Menu o Nav */

nav{
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  background-color:rgb(249, 164, 7);
} 

#contenido{
  width:100%;
  height:100%;
  background-color: blue;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

/* Septima Regla para el estiolo de texto del Contenido */

#contenido h2{
  font-size: 15px;
  text-align: center;
  line-height: 100px;
  color: white;
}
.uno{
background-color: rgb(233, 83, 23);
margin: 10px;
}

.dos{
background-color: rgb(167, 166, 239);
margin: 10px;
}
/* Sectima Regla para el estiolo para el aside */

aside{
  width:100%;
  height:630px;
  background-color: green;
  float: right;
  margin-top: 10px;

}
aside h2{
  font-size: 20px;
  text-align: center;
  line-height: 400px;
  color: white;
}
}
}
